*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.body{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 50% auto;
}
a{
    text-decoration: none;
    color: black;
}

/*MENU*/
header.menu_section{
    position: fixed;
    left: 0;
    right: 0;
    width: 20vw
;
    height: 100vh;
    border-right: 1px solid darkgrey;
}

ul.nav_list>li{
    width: 70%;
    padding: 15px;
    list-style: none;
    white-space: nowrap;
    margin-left: 45px;
}
ul.nav_list>li:nth-child(1){
    width: 20%;
}
li>a{
    display: flex;
    align-items: center;
}
li:hover, .profile_details:hover{
    background: rgba(209, 206, 206, 0.26);
    border-radius: 50px;
    cursor: pointer;
}
li>a>p{
    padding-left: 30px;
}
li a img.nav_list__ico{
    width: 25px;
    display: inline;
}
.twittear_btn{
    cursor: pointer;
    width: 70%;
    height: 50px;
    background: #1d9bf0;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    margin-left: 45px;
    font-size: 16px;
}
.twittear_btn:hover{
    background: #1391e6;
}
.profile_details{
    padding: 10px;
    width: 240px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    display: grid;
    grid-template: auto auto / auto auto auto;
}
.profile_details p.name{
    grid-area: 1 / 2 / 2 / 3;
    font-weight: 700;
}
.profile_details p.id_name{
    grid-area: 2 / 2 / 3 / 3;
    color: darkgrey;
    padding-right: 10px;
}
.profile_details>img.pfp{
    grid-area:1 / 1 / span 2 ;
    display: inline;
    width: 40px;
    border-radius: 50%;
}
.profile_details>img.pfp__menu_ico{
    grid-area: 1 / 3/ span 2 ;
    display: inline;
    width: 12px;
    align-self: center;
}

/*ASIDE*/
.sidebar_section{
    grid-area: 1 / 3;
    border-left: 1px solid darkgrey;
    height: 100vh;
    position: fixed;
    right: 0;
}
.search_bar_section{
    width: 80%;
    height: 40px;
    background: #eff3f4;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin: 10px auto;
}
.search_bar_section img{
    width: 20px;
    margin: 16px;
}
#search_bar{
    border: none;
    background: rgba(0, 0, 0, 0);
    color: #5e6f7b;
}
#search_bar:focus{
    outline: none;
}

.search_bar_section:hover{
    outline: 1px solid #1391e6;
    background: white;
}
.sidebar_section__article{
    display: grid;
    grid-template-rows: repeat(5, auto);
    background: #eff3f4;
    border-radius: 20px;
    overflow: hidden;
    width: 95%;
    margin: 0 auto;
}
.news__items>div{
    width: 100%;
    display: grid;
    grid-template: repeat(3, auto)/ auto auto;
    padding: 10px;
    cursor: pointer;
}
.sidebar_section__article h2{
    margin: 10px;
}
.news__items>div:hover{
    background: #e5e9ea;
}
.sidebar_section__article .news_items__menu_ico{
    width: 16px;
    grid-area: 1 / 2 / span 2;
    align-self: center;
    justify-self: end;
}
.sidebar_section__article .news_img{
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    grid-area: 1 / 2 / span 2;
    margin-left: 5px;
}
.news__items__subtitle{
    color: #5c6c78;
}
.news_items_title{
    font-weight: bold;
}

/*MAIN*/
.content_section{
    grid-area: 1 / 2 / span 1 / span 1;
    display: grid;
    grid-template: 70px 50px 100px 50px 1fr / auto auto;
}
.content_section h1{
    grid-area: 1 / 1;
    font-size: 24px;
    margin: 8px;
}
.content_section .content_toggle{
    grid-area: 2 / 1 / 2 / span 2;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid darkgrey;
    font-size: 0.7rem;
    height: 35px;
    width: 99%;
}
.content_section .content_toggle .h2_selected{
    border-bottom: 3px solid #1d9bf0;
    padding-bottom: 10px;
    border-radius: 1px;
}

.tweet_section{
    grid-area: 3 / 1 / 5 / span 2;
    display: grid;
    grid-template-columns: 80% 20%;
    width: 99%;

}
.tweet_section .tweet_section__pfp{
    width: 50px;
    border-radius: 50%;
    margin: 10px;
}
.tweet_section>div.icons_div{
    margin:10px 0 0 60px;
    width: 40%;
    height: 38px;
    display: inline-flex;
    justify-content: space-around;
    grid-area: 2 / 1;
}
div.tweet_div{
    display: flex;
}
div.tweet_div input{
    border: none;
    font-size: 20px;
}
div.tweet_div input:focus{
    outline: none;
}
.tweet_section button{
    grid-area: 2 / 2;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background: #8dccf7;
    color: white;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
}
.tweet_section button:hover{
    background: #1391e6;
}
.tweet_section .icons_div img {
    padding: 10px;
}
.tweet_section .icons_div img:hover{
    background: rgba(209, 206, 206, 0.26);
    border-radius: 30%;
    cursor: pointer;
}
.fyp_section{
    width: 99%;
    grid-area: 5 / 1 / 6 / span 2;
    border-top: 1px solid darkgrey;
}
.fyp_section article{
    width: 100%;
    display: grid;
    grid-template: 50px 1fr / 80px 1fr;
    border-bottom: 1px solid darkgrey;
    padding-bottom: 20px;
}
.fyp_section article:hover{
    background: rgba(209, 206, 206, 0.26);
    cursor: pointer;
}
.fyp_section .post_pfp{
    width: 50px;
    border-radius: 50%;
    margin: 10px;
}
.fyp_section .post_img{
    grid-area: 3 / 2;
    width: 90%;
    border-radius: 20px;
    margin:20px 20px 0 0;
}
.fyp_section p{
    grid-area: 2 / 2;
}
.fyp_section h3{
    margin-top: 16px;
    grid-area: 1/ 2;
}
#pfp_name{
    width: 40%;
    margin-top: 17px;
    position: relative;
    left: 180px;
    grid-area: 1/ 2;
}
#interactions{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    grid-area: 4 / 2 / 5 / span 2;
}
#interactions div{
    display: flex;
    cursor: pointer;
    padding: 10px;
}
#interactions div p{
    padding-left: 16px;
    grid-area: 2 / 1;
}
#interactions div img{
    width: 20px;
    grid-area: 1 / 1;
}
#message_ico:hover{
    background: #e1eef6;
    border-radius: 20px;
    color: #57aff3;
}
#retweet_ico:hover{
    background: #def1ea;
    border-radius: 20px;
    color: #409d80;
}
#fav_ico:hover{
    background: #f3adb4;
    border-radius: 20px;
    color: #e61028;
}
